@model DataTable
@using System.Data

<main id="main" class="main">
    <div class="container mt-4">
        <!-- Title and Add Button -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="fw-bold text-primary">City Details</h4>
            <a class="btn btn-primary btn-sm px-4 py-2" asp-area="" asp-controller="City" asp-action="AddCity">+ Add City</a>
        </div>

        <!-- Table -->
        <div class="table-responsive shadow-sm rounded">
           
            <table class="table table-striped table-hover align-middle">
                <thead class="table-primary">
                    <tr>
                        <th>CityID</th>
                        <th>StateID</th>
                        <th>CountryID</th>
                        <th>CityName</th>
                        <th>STDCode</th>
                        <th>PinCode</th>
                        <th>CreationDate</th>
                        <th>UserID</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row["CityID"]</td>
                            <td>@row["StateID"]</td>
                            <td>@row["CountryID"]</td>
                            <td>@row["CityName"]</td>
                            <td>@row["STDCode"]</td>
                            <td>@row["PinCode"]</td>
                            <td>@row["CreationDate"]</td>
                            <td>@row["UserID"]</td>
                            <td>
                                <button class="btn btn-sm btn-outline-primary me-1">Edit</button>
                                <button class="btn btn-sm btn-outline-danger">Delete
                                </button>
                                <a asp-controller="ExportToExcle" asp-action="ExportToExcel" class="btnbtn-sm btn-outline-sucess">
                                    Export to Excel
                                </a>
                            </td>
                        </tr>
                    }

                           
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</main>
