@model Quiz.Models.QuizWiseQuestionModel

<main id="main" class="main">
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-3">
                        <li class="breadcrumb-item">Quiz Wise Questions</li>
                        <li class="breadcrumb-item active">Quiz Wise Questions Add</li>
                    </ol>
                </nav>

                <h5 class="card-title mb-4">Quiz Wise Questions Add/Edit</h5>

                <form asp-action="QuizWiseQuestionSave" asp-controller="QuizWiseQuestion" method="post">
                    <input type="hidden" asp-for="QuizWiseQuestionsID" />
                    <div class="form-group">
                        <span class="text-danger">*</span>
                        <label class="form-label">Quiz Name</label>
                        <select asp-for="QuizID" class="form-select">
                            <option>-- Select Quiz Name --</option>
                            @foreach (var level in ViewBag.Quiz)
                            {
                                <option value="@level.QuizID">@level.QuizName</option>
                            }
                        </select>

                    </div>

                    <div class="form-group">
                        <span class="text-danger">*</span>
                        <label class="form-label">Question Name</label>
                        <select asp-for="QuestionID" class="form-select">
                            <option>-- Select Question --</option>
                            @foreach (var level in ViewBag.Question)
                            {
                                <option value="@level.QuestionID">@level.QuestionText</option>
                            }
                        </select>

                        <span asp-validation-for="QuestionID" class="text text-danger"></span>
                    </div>

                    <div class="form-group">
                        <span class="text-danger">*</span>
                        <label class="form-label">User Name</label>
                        <select asp-for="UserID" class="form-select">
                            <option>-- Select User --</option>
                            @if (ViewBag.User != null)
                            {
                                @foreach (var level in ViewBag.User)
                                {
                                    <option value="@level.UserID">@level.UserName</option>
                                }
                            }
                        </select>

                        <span asp-validation-for="UserID" class="text text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-success me-2">Save</button>
              @*       <button type="button" class="btn btn-danger">Reset</button> *@
                    <a class="btn btn-warning ms-1" asp-controller="QuizWiseQuestion" asp-action="QuizWiseQuestionList">
                        Back
                    </a>
                </form>
            </div>
        </div>
    </div>
</main>