@model ProductModel

<main id="main" class="main">
    @using (Html.BeginForm("ProductSave", "Product", FormMethod.Post, new { id = "productForm" }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.productID)
            @Html.TextBoxFor(model => model.productID, new { @class = "form-control", id = "productID" })
            @Html.ValidationMessageFor(model => model.productID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.productName)
            @Html.TextBoxFor(model => model.productName, new { @class = "form-control", id = "productName" })
            @Html.ValidationMessageFor(model => model.productName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price)
            @Html.TextBoxFor(model => model.price, new { @class = "form-control", type = "number", step = "0.01", id = "price" })
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.category)
            @Html.TextBoxFor(model => model.category, new { @class = "form-control", id = "category" })
            @Html.ValidationMessageFor(model => model.category)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rating)
            @Html.TextBoxFor(model => model.rating, new { @class = "form-control", type = "number", min = "1", max = "5", id = "rating" })
            @Html.ValidationMessageFor(model => model.rating)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.productCompany)
            @Html.TextBoxFor(model => model.productCompany, new { @class = "form-control", id = "productCompany" })
            @Html.ValidationMessageFor(model => model.productCompany)
        </div>

        <button type="submit"  class="btn btn-primary">Submit</button>
    }
</main>